<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <title>Book Review Application</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
    <img class = 'topicc' src='/public/css/book4.jpg' alt="book cover">
    <h1>Book Review Application</h1>
    <main>
        {{{body}}}
    </main>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/public/js/displayBook.js"></script>
    <script src="/public/js/displayreview.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    {{!-- <footer>
            This web page belongs to &copy; Yiwei Xiang | Sonal Gavade | Kajal Acharya| AoLiu 
    </footer> --}}
</body>
</html>