html{
  font-family: "Times New Roman", times, serif;
}

body{
  margin:0px;
}

h1{
  text-align: center;
  width: 105%;
}

/* //to focus the box in which we are typing */
input[text=text] focus{
  background-color: lightblue;
}

button{
    background-color: coral;
    color: white;
    text-align: centre;
    font-size: 14px;
    border: none;
}
.error{
  color: red
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.display{
  margin-left:10%;
  width:80%;
  height:100%;
}

.title{
  border-bottom: 2mm black solid;
}

.bookimg{
  float:left;
  height: 500px;
  width: 380px;
  border-top: 1mm black solid;
  border-left: 1mm black solid;
  border-bottom: 1mm black solid;
  border-right: 1mm black solid;
}

.bookreview{
  overflow-y:auto;
  margin-left:200px;
  float:left;
  height: 400px;
  width :280px;
  border-top: 1mm black solid;
  border-left: 1mm black solid;
  border-bottom: 1mm black solid;
  border-right: 1mm black solid;
}

.linkclass{
  color: darkblue;
}

.linkclasses{
  color: black;
}


.textarea_input{
  width :280px;
  height: 70px;
  /* overflow-y: scroll; */
}

/* .moredetails{
     color: darkblue;
} */

.buttonclass{
  background-color: lightblue;

}

.comment{

  margin-left:200px;
  display:inline-block;
  /* position: relative; */

  width: 300px;
  height: 100px;
}

/* register part */
.rpic{
  float:auto;
  width:300px;
  height:300px;
}

/* search part */
.background{
  background-image:url('../css/bookimg1.jpeg');

  background-repeat:no-repeat;

  background-size:cover;
}

.topicc{
  height:190px;
  /* object-fit: cover; */
  width:100%;
}

/* img{
  height:140px;
  /* object-fit: cover;
  width:100%;
} */

.logout{
    margin-left: 10%;
    background-color: lightblue;
    color: white;
    padding: 14px 25px;
    text-emphasis-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }


ol{
  display: inline;
}

.f-r{
  margin-right:20px;
  float:right;
  background-color: lightblue;
}

.review{
  margin-left:30px;
}

footer{
  font-size:20px;
  text-align: center ;
  color: black;
  bottom: 0;
  width: 100%;
}

/* if have time to add csss */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }