<article>
    <div class="display">
        <h2>Logged out successfully!</h2>
    </div><br>
    <div class = "logout">
        <a class = "linkclasses" href = '/login'> Back to the Login Page</a>
    </div>
    
</article>

 
